<h1>Coding with Laupwing2</h1>

{% for product in collections["frontpage"].products %}
<div>
   <a href="{{product.url}}">
      <img src="{{product.featured_image | image_url: width: 400 }}" alt="">
      <h3>{{ product.title }}</h3>
      <span>{{ product.price | money }}</span>
   </a>
</div>

{% endfor %}
